    <!-- 증환 뷰 작업중 -->
    
    <!-- 상단바
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="/img/icon.png" style="width: 40px; margin-top: 5px" align="left">
          <a class="navbar-brand" href="/">SKKU EV</a>
        </div>

        <!-- 좌측메뉴 -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#tf-home" class="page-scroll">검색</a></li>
            <li><a href="#tf-services" class="page-scroll">강의</a></li>
            <li><a href="#tf-testimonials" class="page-scroll">마켓</a></li>
            <li><a href="#tf-works" class="page-scroll">책가방</a></li>
            <li><a href="/test/write" class="action">강의평 올리기</a></li>
            <li><a href="/test/member" class="action">내 정보</a></li>
            <div class="navbar-collapse collapse in" id="bs-example-navbar-collapse-1" aria-expanded="true">
        </div>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- 검색
    ==========================================-->
    <div id="tf-home" class="text-center">
        <div class="overlay">
            <div class="content">
                <img src="/img/eva.png" style="width: 100px; margin-top: 5px" align="center">
                <h1>성균관대학교  <strong><span class="color">강의평가</span></strong></h1>
                <p class="lead"> 가볍고 <strong> 정확하게 </strong> 그리고 <strong> 솔직한 </strong></p>
                <form>
                  <div class="form-group">
                    <input type="search" class="form-control" id="search1" placeholder="과목 및 교수명" >
                  </div>
                <button type="submit" class="btn tf-btn btn-default">검색</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Result Section
    ==========================================-->
    <div id="tf-services" class="text-center">
        <div class="container">
        <div class="col-xs-12 col-md-3 col-lg-3">
            <form name="form" method="POST" action="/test/serach_a">
             <ul class="nav nav-sidebar">
                <li class="active">
                <select name="subject" onchange="change_subject(this.form)" class="form-control"></select>
                </a>
                </li>
                <li class="active">
                <select name="contents" onchange="change_contents(this.form)" class="form-control"></select>
                </li>
                <li class="active">
                <select name="components" class="form-control"></select></li>
              </ul>
        <!-- 3단 선택창 -->
        
                <div class="col-xs-12 col-md-3 col-lg-3">
                <button type="submit" class="btn tf-btn btn-default">검색</button>
                </div>
            </form>

        </div>
    </div>
    
    <!-- Market Section
    ==========================================-->
    <div id="tf-testimonials" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2><strong>강의 </strong> 마켓</h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div id="testimonial" class="owl-carousel owl-theme">
                        <% @sb.each do |b| %>
                            <% if b.id > 5 %>
                            <% else %>
                                <div class="item">
                                    <h5><%=b.title%> | <%=b.bunho%> | <%=b.money%>원
                                    <p><%=b.sulmung%></p></h5>
                                    <p><strong>아이디</strong></p>
                                    <p>2015.09.01.17:09</p>
                                </div>
                            <% end %>
                        <% end %>
                        </div>
                    </div>
                </div>
            </div>
            
            <%= form_tag("/test/market", method: "post") do %>
                <div class="row">
                    <div class="col-md-2">
                    <div class="form-group">
                      <label for="title">강의명</label>
                      <input type="text" class="form-control" name="title" placeholder="강의명">
                    </div>
                    </div>
                    <div class="col-md-2">
                    <div class="form-group">
                      <label for="money">가격</label>                    
                      <input type="integer" class="form-control" name="money" placeholder="가격">
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="form-group">
                      <label for="bunho">카카오톡 아이디 or 이메일 or 핸드폰 번호</label> 
                      <input typle="email"  class="form-control" name="bunho" placeholder="010-1111-1111"></textarea>
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="form-group">
                      <label for="sulmung">추가설명</label> 
                      <input type="text" class="form-control" name="sulmung" placeholder="설명">
                    </div>
                    </div>
                    <div class="col-md-2" style="padding-top: 20px;">
                    <form>
                    <button type="submit" class="btn tf-btn btn-default">올리기</button>
                    </form>
                    </div>
                  <% end %>
                </div>
                <a href="/test/market" class="fa fa-angle-down page-scroll"></a>
        </div>
    </div>                

    <!-- Portfolio Section
    ==========================================-->
    <div id="tf-works">
        <div class="container"> <!-- Container -->
            <div class="section-title text-center center">
                <h2><strong>책가방</strong></h2>
                <div class="line">
                <hr>
                </div>
                <div class="clearfix"></div>
                <small><em>담은 강의평을 한눈에 보세요</em></small>
            </div>
            <div class="space"></div>

            <div class="categories">
                
                <ul class="cat">
                    <li class="pull-left"><h4>바구니 선택:</h4></li>
                    <li class="pull-right">
                        <ol class="type">
                            <li><a href="#" data-filter="*" class="active">전체보기</a></li>
                            <li><a href="#" data-filter=".web">교양</a></li>
                            <li><a href="#" data-filter=".photography">제1전공</a></li>
                            <li><a href="#" data-filter=".app" >제2전공</a></li>
                            <li><a href="#" data-filter=".branding" >제3전공</a></li>
                        </ol>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div id="lightbox" class="row">

                <div class="col-sm-6 col-md-3 col-lg-3 branding all">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Logo Design</h4>
                                    <small>Branding</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/portfolio/01.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 photography app all">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Logo Design</h4>
                                    <small>Branding</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/portfolio/02.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 branding all">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Logo Design</h4>
                                    <small>Branding</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/portfolio/03.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Logo Design</h4>
                                    <small>Branding</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/portfolio/04.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Logo Design</h4>
                                    <small>Branding</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/portfolio/05.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6 col-md-3 col-lg-3 app">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Logo Design</h4>
                                    <small>Branding</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/portfolio/06.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 photography web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Logo Design</h4>
                                    <small>Branding</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/portfolio/07.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Logo Design</h4>
                                    <small>Branding</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/portfolio/08.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>  
        </div>
    </div>
                
    <!-- Footer Section
    ==========================================-->
    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>성균관대학교 <a href="#">멋쟁이사자처럼</a> ©2015. <a href="#">Likelion SKKU</a></p>
                <p>ALL RIGHTS RESERVED. COPYRIGHT © 2014. Designed by <a href="https://dribbble.com/shots/1817781--FREEBIE-Spirit8-Digital-agency-one-page-template">Robert Berki</a> and Coded by <a href="https://dribbble.com/jennpereira">Jenn Pereira</a></p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="http://www.facebook.com/likelionskku"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="http://www.facebook.com/likelion.net"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="http://www.skku.edu"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.js"></script>

    <script src="js/owl.carousel.js"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="js/main.js"></script>

<br>
<br>

<!-- 임시 기능 테스트뷰 -->

<% @write.each do |t| %>
<div>
<h4><a href="/test/specific/<%=t.subject_id%>"><%=Subject.find(t.subject_id).name%></a></h4>
    <p><%=t.content%></p>
</div>
<%end%>