
<!-- SmartMenus jQuery Bootstrap Addon CSS -->
<link href="http://skkuev-noonproject.c9.io/assets/smartmenu/addons/bootstrap/jquery.smartmenus.bootstrap.css" rel="stylesheet">

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://skkuev-noonproject.c9.io/assets/smartmenu/libs/demo-assets/bootstrap/js/bootstrap.min.js"></script>

<!-- SmartMenus jQuery plugin -->
<script type="text/javascript" src="http://skkuev-noonproject.c9.io/assets/smartmenu/jquery.smartmenus.js"></script>

<!-- SmartMenus jQuery Bootstrap Addon -->
<script type="text/javascript" src="http://skkuev-noonproject.c9.io/assets/smartmenu/addons/bootstrap/jquery.smartmenus.bootstrap.js"></script>

<!-- ################################## -->

<!-- Static navbar -->
<div class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">강의평가</a>
  </div>
  <div class="navbar-collapse collapse">

    <!-- Left nav -->
    <ul class="nav navbar-nav">
      <li><a href="#">ABOUT</a></li>
      
      
      <!-- 대학 단위까지는 하드코딩 
      
      대학 뽑아서 과 나열
      과 뽑아서 과목 나열
      
      -->
      
      <li><a href="#">전공</a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">인문사회과학캠퍼스</li>
        
          <li><a href="#">경영대학</a> 
            <ul class="dropdown-menu">
              <li><a href="#">경영학과</a></li>
              <li><a href="#">글로벌경영학과</a></li>
            </ul>
          </li>
        
          <li><a href="#">경제대학</a>
           <ul class="dropdown-menu">
              <li><a href="#">경제학과</a></li>
              <li><a href="#">통계학과</a></li>
              <li><a href="#">글로벌경제학과</a></li>
            </ul>
          </li>
          
          <li><a href="#">문과대학</a>
           <ul class="dropdown-menu">
              <li><a href="#">국어국문학과</a></li>
              <li><a href="#">영어영문학과</a></li>
              <li><a href="#">프랑스어문학과</a></li>
              <li><a href="#">사학과</a></li>
              <li><a href="#">중어중문학과</a></li>
              <li><a href="#">독어독문학과</a></li>
              <li><a href="#">문헌정보학과</a></li>
              <li><a href="#">철학과</a></li>
              <li><a href="#">한문학과</a></li>
              <li><a href="#">러시아어문학과</a></li>
            </ul>
          </li>
          
          <li><a href="#">법과대학</a>
           <ul class="dropdown-menu">
              <li><a href="#">법학과</a></li>
            </ul>
          </li>
          
          <li><a href="#"><strong>사회과학대학</strong></a>
            <ul class="dropdown-menu">
              <li><a href="/test/detail_test/행정학과">행정학과</a></li>
              <li><a href="/test/detail_test/정치외교학과">정치외교학과</a></li>
              <li><a href="/test/detail_test/신문방송학과">신문방송학과</a></li>
              <li><a href="/test/detail_test/사회학과">사회학과</a></li>
              <li><a href="/test/detail_test/사회복지학과">사회복지학과</a></li>
              <li><a href="/test/detail_test/심리학과">심리학과</a></li>
            </ul>
          </li>
          
          <li><a href="#">예술대학</a>
            <ul class="dropdown-menu">
              <li><a href="#">미술학과</a></li>
              <li><a href="#">디자인학과</a></li>
              <li><a href="#">무용학과</a></li>
              <li><a href="#">영상학과</a></li>
              <li><a href="#">연기예술학과</a></li>
              <li><a href="#">의상학과</a></li>
            </ul>
          </li>
          
          <li><a href="#">유학대학</a>
            <ul class="dropdown-menu">
              <li><a href="#">유학·동양학과</a></li>
            </ul>
          </li>
          
          <li><a href="#"><strong>사범대학</strong></a>
            <ul class="dropdown-menu">
              <li><a href="/test/detail_test/교육학과">교육학과</a></li>
              <li><a href="/test/detail_test/한문교육과">한문교육과</a></li>
              <li><a href="/test/detail_test/수학교육과">수학교육과</a></li>
              <li><a href="/test/detail_test/컴퓨터교육과">컴퓨터교육과</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="dropdown-header">자연과학캠퍼스</li>
          <li><a href="#">자연과학대학</a>
             <ul class="dropdown-menu">
              <li><a href="#">생명과학과</a></li>
              <li><a href="#">수학과</a></li>
              <li><a href="#">물리학과</a></li>
              <li><a href="#">화학과</a></li>
            </ul>         
          </li>
          <li><a href="#">정보통신대학</a>
             <ul class="dropdown-menu">
              <li><a href="#">전자전기공학부</a></li>
              <li><a href="#">컴퓨터공학과</a></li>
              <li><a href="#">소프트웨어학과</a></li>
              <li><a href="#">반도체시스템공학과</a></li>
            </ul>         
          </li>
          <li><a href="#">공과대학</a>
             <ul class="dropdown-menu">
              <li><a href="#">화학공학/고분자공학부</a></li>
              <li><a href="#">신소재공학부</a></li>
              <li><a href="#">기계공학부</a></li>
              <li><a href="#">건축토목공학부</a></li>
              <li><a href="#">시스템경영공학과</a></li>
              <li><a href="#">조경학과</a></li>
              <li><a href="#">건축학과(건축학계열)</a></li>
            </ul>         
         </li>
          <li><a href="#">약학대학</a>
            <ul class="dropdown-menu">
              <li><a href="#">약학과</a></li>
            </ul>
          </li>
          <li><a href="#">생명공학대학</a>
            <ul class="dropdown-menu">
              <li><a href="#">식품생명공학과</a></li>
              <li><a href="#">바이오메카트로닉스학과</a></li>
              <li><a href="#">유전공학과</a></li>
            </ul>
          </li>
          <li><a href="#">스포츠과학대학</a>
            <ul class="dropdown-menu">
              <li><a href="#">스포츠과학과</a></li> 
              
              
              <!--
              
              -->
              
            </ul>
          </li>
          <li><a href="#">의과대학</a>
            <ul class="dropdown-menu">
              <li><a href="#">의학과</a></li>
            </ul>
          </li>
          <li><a href="#">성균융합원</a>
            <ul class="dropdown-menu">
              <li><a href="#">글로벌바이오메디컬엔지니어링학과</a></li>
            </ul>
          </li>
       
        </ul>
      </li>
      
      <li><a href="#">교양</a></li>
<!--  <li><a href="#">아이캠</a></li>-->
      <li><a href="#">마켓</a></li>
      <li><a href="#">공지</a></li>
      
    </ul>

  
  </div><!--/.nav-collapse -->
</div>







<div style="height:500px"></div>
<h4>
<center>
DB 확인용 페이지<br><br>
<table width=90% border=1>      

        <tr>
            <strong>
                <td>ID</td>
                <td>대학</td>
                <td>학과</td>
                <td>구분</td>
                <td>학수번호</td>
                <td>교과목명</td>
                <td>교수</td>
                <td>시간</td>
                <td>강의실</td>
                <td>분류</td>
                <td>학점</td>
                <td>캠퍼스</td>
                <td>수업형태</td>
                <td>비고</td>
                <td>비고</td>
                <td>비고</td>
            </strong>
        </tr>
        
    <%@test_table.each do |x|%>
        <tr>
            <td><%=x.id%></td>
            <td><%=x.group%></td>
            <td><%=x.dept%></td>
            <td><%=x.division%></td>
            <td><%=x.code%></td>
            <td><%=x.name%></td>
            <td><%=x.prof%></td>
            <td>
                <!--시간 -->
                <!--time 필드에서 연속,5,6자인 부분(강의실번호)와 특수기호 제거 -->
                <%=x.time.gsub(/[A-Z0-9]{6}/,'').gsub(/[A-Z0-9]{5}/,'').tr("【","").tr("】","")%>
                
            </td>
            <td>
                <!--강의실 -->
                <!--time필드에서 가져옴 -->
                <%if x.time[18]=="】"%>
                    <%=x.time[13..17]%> <!--강의실 번호가 5자리인 경우 -->
                <%else%>
                    <%=x.time[13..18]%> <!--강의실 번호가 6자리인 경우 -->
                <%end%>    
            </td>
            
            <td><%=x.category%></td>
            <td><%=x.credit%></td>
            <td><%if x.note00!="?"%><%=x.note00%><%end%></td>
            <td><%if x.note01!="?"%><%=x.note01%><%end%></td>
            <td><%if x.note02!="?"%><%=x.note02%><%end%></td>
            <td><%if x.note03!="?"%><%=x.note03%><%end%></td>
            <td><%if x.note04!="?"%><%=x.note04%><%end%></td>
         </tr>
<%end%>

</table>
   

</h4>
</center>




