  <!----태훈 테스트--->
                        
      <% for i in 1..Subject.count%>
          
          <%j=Subject.find(i)%>
          
          <%if j.dept==@i%>
         
          <div class="panel panel-default" style="width: 800px;">
            <div class="panel-body">
             <button type="submit" class="btn tf-btn btn-default" data-toggle="modal" data-target='#myModal_<%=j.code%>'>                
               <center>     
               <p><%=j.name%> / <%=j.code%> / <%=j.prof%></p><br>
               <input type="hidden" name='abc' value='<%=j.code%>'>
               </center>
             </button>
           </div>
          </div>
               
          <!-- Modal -->
          <div class="modal fade" id="myModal_<%=j.code%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <%@id = j.code.to_s%>
                <%@lecture = Subject.where(code: j.code)%>
                <%@eval = Evaluation.where(lecture_id: j.code)%>
                 
                <%sum=0%>
                <%@avg=0%>
              
                <%@eval.each do |x|%>
                <% sum+=x.lecture_score %>
                <%end%>
              
                <% if @eval.count!=0 %>
                <% @avg=sum/@eval.count %>
                <%end%>
                
                <h1 style="color:#58ACFA; font-size: 29px;"><%=@lecture.first.name%></h1>
              </div>
              
              <div class="modal-body">
                      <%= form_tag("/test/evaluate", method: "post") do %>
                        <%if Evaluation.find_by_lecture_id(j.code)==nil%>
                        <div class="alert alert-danger" role="alert">아직 평가가 없습니다. 첫 평가를 남겨주세요!</div>
                      <%end%>
                              
                      <form action="/test/evaluate" method="POST" style="float: right;">
                        <input type="hidden" name="lecture_id" value="<%=@lecture.first.code%>">
                        <input type="hidden" name="lecture_name" value="<%=@lecture.first.name%>">
                        <input type="hidden" name="lecture_prof" value="<%=@lecture.first.prof%>">
                        
                         <button type="submit" class="btn tf-btn btn-default" > 평가하기 </button>
                      </form>
  
                      <div class="col-md-12 col-xs-12">
                      <hr>
                      </div>
                              
                    <!-- 별점부분 -->            
                      <h5>평점 | <%=@avg%> (<%=@eval.count%>명 참여)</h5>

                
                      <div class="col-md-12" style="height:20px">
                      <hr>
                      </div>
                    
                    <!-- 강의정보 -->      
                      교수
                      <%=@lecture.first.prof%>
                        
                      강의시간
                      <%=@lecture.first.time.gsub(/[A-Z0-9]{6}/,'').gsub(/[A-Z0-9]{5}/,'')
                      .tr("【","").tr("】","")%>    
                        
                      강의실
                      <%if @lecture.first.time[18]=="】"%>
                          <%=@lecture.first.time[13..17]%> <!--강의실 번호가 5자리인 경우 -->
                      <%else%>
                          <%=@lecture.first.time[13..18]%> <!--강의실 번호가 6자리인 경우 -->
                      <%end%> 
                      
                      유형
                      <%=@lecture.first.note01%>
                      평점
                      소감
                      
                      <%@eval.each do |x|%>
                      <%=x.lecture_score%>
                      <%=x.content%> <a href="/test/delete/<%=x.id%>">[x]</a><a href="/test/modify/<%=x.id%>">수정</a>
                      <%end%>
                  </div>
                </div>
              </div>
            </div>
            
          <%end%>
        <%end%>
      <%end%>


    <!-- 동적 3단 계단 -->
    <script src="/test/select.js"></script>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/test/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="/test/bootstrap.js"></script>
    <script type="text/javascript" src="/test/SmoothScroll.js"></script>
    <script type="text/javascript" src="/test/jquery.isotope.js"></script>
  
    <script src="/test/owl.carousel.js"></script>
  
    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="/test/main.js"></script>


