
       <%= render :partial => "/test/navbar" %>
        
        <div style="height:50px; background-color: #F0F0F0;"></div>
        
        <div class="col-md-12" style="height:auto;; text-align:center; background-color: #F0F0F0; margin:0px 0px 0px 0px;"> 
            <div style="padding: 20px 0px 20px 0px;">
              <span style="font-weight: 800; color:#727272; font-size: 120%;"><%=@i%> |</span> 
              <span style="font-weight: 500;color:#b2b2b2; font-size: 120%;">&nbsp; 강의과목 입니다.</span>
            </div>
          </div>
      
        <% for i in 1..Subject.count%>
            
        <%j=Subject.find(i)%>
            
        <%if j.dept==@i%>
        
        <div class="col-md-3">
        <div class="col-sm-6 col-md-12 col-lg-12">
            <div class="portfolio-item" data-toggle="modal" data-target='#myModal_<%=j.code%>'>
                <div class="hover-bg">
                    <a href="#">
                        <div class="hover-text">
                            <h4><%=j.name%></h4>
                            <small>상세보기</small>
                            <div class="clearfix"></div>
                            <i class="fa fa-plus"></i>
                        </div>
                         <p style="padding-top: 20%; padding-left: 30%; margin-top: 0px;margin-bottom: 0px;"><h3 style="text-align: center;"><%=j.name%></h3>
                         <span style="font-weight: 300;color:#b2b2b2; font-size: 90%;"><p style="text-align: center; padding-top: 25px;"><%=j.prof%></p></span>                         
                         <hr>
                         <h6 style="text-align: center; margin-top: 0px;"><%=j.code%></h6>
                         <br>
                         </p>
                         <input type="hidden" name='abc' value='<%=j.code%>'>
                    </a>
                </div>
            </div>
        </div>
        </div>
                    
          <!-- Modal -->
          <div class="modal fade" id="myModal_<%=j.code%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <%@id = j.code.to_s%>
                <%@lecture = Subject.where(code: j.code)%>
                <%@eval = Evaluation.where(lecture_id: j.code)%>
                 
                <%sum=0%>
                <%@avg=0%>
              
                <%@eval.each do |x|%>
                  <% sum+=x.lecture_score %>
                <%end%>
              
                <% if @eval.count!=0 %>
                  <% @avg=sum/@eval.count %>
                <%end%>
                
                <h1 style="color:#58ACFA; font-size: 29px;"><%=@lecture.first.name%>
                      <form action="/test/evaluate" method="POST" style="float: right;">
                        <input type="hidden" name="lecture_id" value="<%=@lecture.first.code%>">
                        <input type="hidden" name="lecture_name" value="<%=@lecture.first.name%>">
                        <input type="hidden" name="lecture_prof" value="<%=@lecture.first.prof%>">
                        
                        <button type="submit" class="btn tf-btn btn-default" style="background-color: #333; border-radius: 5px;"> 평가하기 </button>
                      </form>
                </h1>
              </div>
              
              <div class="modal-body">
                      <%= form_tag("/test/evaluate", method: "post") do %>
                        <%if Evaluation.find_by_lecture_id(j.code)==nil%>
                        <div class="alert alert-danger" role="alert">아직 평가가 없습니다. 첫 평가를 남겨주세요!</div>
                      <%end%>
                      <div class="col-md-12 col-xs-12">                      
                      <hr>
                      </div>                            
                          
                      <div class="col-md-12" style="height:20px">
                      <hr>
                      </div>
                    
                    <!-- 강의정보 -->      
                      교수
                      <%=@lecture.first.prof%>
                        
                      강의시간
                      <%=@lecture.first.time.gsub(/[A-Z0-9]{6}/,'').gsub(/[A-Z0-9]{5}/,'')
                      .tr("【","").tr("】","")%>    
                        
                      강의실
                      <%if @lecture.first.time[18]=="】"%>
                          <%=@lecture.first.time[13..17]%> <!--강의실 번호가 5자리인 경우 -->
                      <%else%>
                          <%=@lecture.first.time[13..18]%> <!--강의실 번호가 6자리인 경우 -->
                      <%end%> 
                      
                      유형
                      <%=@lecture.first.note01%>
                      평점
                      소감
                      
                      <%@eval.each do |x|%>
                      <%=x.lecture_score%>
                      <%=x.content%> <a href="/test/delete/<%=x.id%>">[x]</a><a href="/test/modify/<%=x.id%>">수정</a>
                      <%end%>
                  </div>
                </div>
              </div>
            </div>
        
      
  <div class="col-md-12">
    <%= render :partial => "/test/bottom" %>
  </div>